---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Content } from "../content/pages/whoami.md";
---

<style>
  * {
    font-family: "IBM Plex Mono", monospace;
  }

  .output {
    width: 100%;
    max-width: 80ch;
    animation: fade 5s;
  }

  .typeme {
    width: 27ch;
    animation:
      typing 2s steps(27),
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid #f2d5cf;
  }

  /* animation */

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 27ch;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
        <div class="aboutme">
          <div class="typeme">
            <b>bonky@bonkyserv λ ~ whoami</b>
          </div>

          <section class="output">
            <Content />
          </section>
        </div>
    </main>
    <Footer />
  </body>
</html>
